<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/chat.css}"/>
<script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
<script th:inline="javascript">
/*[+
var lastChatId = [[${lastChatId}]];
var room = [[${self}]];
+]*/
</script>
<script th:src="@{/assets/js/chat.js}"></script>
<head>
    <title th:text="${self.name}">room name</title>
</head>
<body>
<h1 th:text="${self.name}">room name</h1>
<!-- TODO make this into a fragment and share with other room views -->
<p>Chat</p>
<div id="chatBlock">
    <div th:each="chat : ${chats}" class="chatline">
        <span class="chatsender" th:text="${chat.text[sender]}"/>
        <span class="chatmsg" th:text="${chat.text[msg]}"/>
    </div>
</div>
<form th:object="${chatText}" th:action="@{/message/post/__${chatTopic}__/__${self.id}__}" method = "post" >
    <input type = "text" th:field="*{data}"/>
    <input type="submit"/>
</form>
<button id="refresh" onclick="getNewChats()">refresh chat</button>
<p>Users</p>
<table>
    <tr>
        <th th:text="#{header.id}">ID</th>
        <th th:text="#{header.username}">UserName</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">The ID</td>
        <td th:text="${user.name}">The table name</td>
    </tr>
</table>
<a th:if="${self.id} != -1" th:href="@{/room/move/__${self.lobbyId}__/__${self.id}__/__${userId}__}" href="room/list">return to lobby</a>
</body>
</html>