<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${self.name}">Chat Room View</title>
</head>
<body>
<!-- TODO make this into a fragment and share with other room views -->
<p>Chat</p>
<div th:each="chat : ${chats}" th:text="${chat}">chat message</div>
<p>Users</p>
<table>
    <tr>
        <th th:text="#{header.id}">ID</th>
        <th th:text="#{header.username}">UserName</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">The ID</td>
        <td th:text="${user.name}">The table name</td>
    </tr>
</table>
<a th:href="@{/room/view/__${self.lobbyId}__}" href="room/list">return to lobby</a>
</body>
</html>