<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/button.css}"/>
<head>
    <title>Main Lobby</title>
</head>
<body>
<h1 th:text="#{lobby.welcome(${name})}">Welcome!</h1>
<table>
    <tr>
        <th align="left" th:text="#{header.id}">ID</th>
        <th align="left" th:text="#{lobby.roomName}">Name</th>
        <th align="left" th:text="#{lobby.view}">View</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.id}">The ID</td>
        <td> <a th:text="${room.name}" th:href="@{/room/move/__${room.id}__/__${lobbyId}__/__${userId}__}">The table name</a></td>
        <td th:text="#{lobby.view+${room.code}}">The View</td>
        <td>
            <form th:if="${isadmin}" th:action="@{/room/delete/__${room.id}__/__${lobbyId}__}" th:object="${room.name}" method="post">
                <button class="delbutton" action="submit" />
            </form>
        </td>
    </tr>
</table>

<form th:if="${isadmin}" action="#" th:action="@{/room/add/__${lobbyId}__}" th:object="${gameRoom}" method="post">
    <input type="text" th:field="*{name}" />
    <select name="kind" th:field="*{code}">
        <option th:each="kind : ${kinds}" th:text="#{lobby.view+${kind}}" th:value="${kind}">kind</option>
    </select>
    <input type="submit" />
</form>

<p th:text="#{header.users}">Users</p>
<table>
    <tr>
        <th th:text="#{header.id}">ID</th>
        <th th:text="#{header.username}">UserName</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">The ID</td>
        <td th:text="${user.name}">The table name</td>
    </tr>
</table>

<p>Lobby Chat goes here.</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a th:if="${self.id} != -1" th:href="@{/room/move/__${self.lobbyId}__/__${self.id}__/__${userId}__}" href="room/list">return to lobby</a>

</body>
</html>
