<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main Lobby</title>
</head>
<body>
<h1 th:text="${welcome}">Welcome!</h1>
<table>
    <tr>
        <th th:text="#{lobby.roomId}">ID</th>
        <th th:text="#{lobby.roomName}">Name</th>
    </tr>
    <tr th:each="table : ${tables}">
        <td th:text="${table.id}">The ID</td>
        <td th:text="${table.name}">The table name</td>
        <td><form th:if="${isadmin}" th:action="@{/table/delete/__${table.id}__}" th:object="${table.name}" method="post">
                <button action="submit">X</button>
            </form>
        </td>
    </tr>
</table>

<form th:if="${isadmin}" action="#" th:action="@{/table/add}" th:object="${gameTable}" method="post">
    <input type="text" th:field="*{name}" />
    <input type="submit" />
</form>

<p>Users</p>
<table>
    <tr>
        <th>ID</th>
        <th>UserName</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">The ID</td>
        <td th:text="${user.name}">The table name</td>
    </tr>
</table>

<p>Lobby Chat goes here.</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>
