<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main Lobby</title>
</head>
<body>
<h1>Welcome!</h1>
<p th:text="#{example.test1}">fallback text</p>
<p th:text="#{example.test2}">fallback text 2</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="table : ${tables}">
        <td th:text="${table.id}">The ID</td>
        <td th:text="${table.name}">The table name</td>
    </tr>
</table>

<form action="#" th:action="@{/table/add}" th:object="${gameTable}" method="post">
    <input type="text" th:field="*{name}" />
    <input type="submit" />
</form>

<p>Lobby Chat goes here.</p>
</body>
</html>
