<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <head>
        <title>Coenobium - Login</title>
    </head>
    <body class="offgraybackground">
        <form th:action="@{/login}" method="post">
            <div class="topcorner"><label class="softtext"> User Name: <input class="graybox" type="text" name="username" autofocus="true" /> </label></div>
            <div class="formline"><label class="softtext"> Password: <input class="graybox" id="passbox" type="password" name="password"/> </label></div>

            <div class="formline errorred" th:if="${param.error}">
                Invalid username or password.
            </div>
            <div class="formline confirmblue" th:if="${param.logout}">
                You have been logged out.
            </div>

            <div class="formline"><input class="bigbutton softtext" id="loginbutton" type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>
